.row {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1{
    color: white;
    font-size: 100px;
}

p{
    color: white;
    font-size: 17px;
}

.personal-image {
    max-width: 400px;
    border-radius: 30px;
    margin-left: 200px;
}   
