.row {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    width: 50%;
}


.col2 {
    display: flex;
    flex-wrap: wrap;
}

.card-row {
    display: flex;
}

h1{
    color: white;
    font-size: 625%;
}

p{
    color: white;
    font-size: 93.75%;
    line-height: 20px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(../images/team/Sikander.png)
}

.card2{
    background-image: url(../images/team/faisal2.png)
}

.card3{
    background-image: url(../images/team/eiman.png)
}

.card4{
    background-image: url(../images/team/ari.jpg)
}

.card5{
    background-image: url(../images/team/Tahsin.png)
}

.card:hover{
    transform: translateY(-10px);
}

.card h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 17px;
    margin-top: 175px
}

.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/*Responsive*/

@media only screen and (max-width: 1500px)
{
    h1 {
        font-size: 525%;
    } 

    .card-row {
        padding-right: 182px;
    }

    .card {
        width: 150px;
        height: 180px;
        padding: 15px;
        margin: 10px 5px;
    }

    .card h5{
        font-size: 17px;
        margin-top: 89%;
    }
    .card p{
        font-size: 15px;
    }
    
    
}

@media only screen and (max-width: 1250px)
{
    .col2 {
        padding-left: 2%;
    }
}


@media (max-width: 1000px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
    }


    .p {
        padding: 2%;
    }
    
    .col1 {
        align-items: center;
        padding-bottom: 5%;
    }
    
    h1{
        padding: 10px;
        padding-top: 50px;
    }

    .card h5 {
        margin-top: 90px;
    }

    .container {
        height: 100%;
    }
    
}
